name: ci
on:
  pull_request:
  push:
    branches: [ main, master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dev deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Run fast tests
        env:
          AWS_REGION: eu-central-1
          AWS_DEFAULT_REGION: eu-central-1
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
          AWS_SESSION_TOKEN: test
          AWS_EC2_METADATA_DISABLED: "true"
          DEV_MODE: "true"
          TENANT_DEFAULT_LANG: "pl"
          PHONE_HASH_PEPPER: ""
          USER_HASH_PEPPER: ""
          OTP_HASH_PEPPER: ""
        run: |
          pytest -m "unit or component or security" -q
      - name: Tests with coverage
        env:
          AWS_REGION: eu-central-1
          AWS_DEFAULT_REGION: eu-central-1
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
          AWS_SESSION_TOKEN: test
          AWS_EC2_METADATA_DISABLED: "true"
          DEV_MODE: "true"
          TENANT_DEFAULT_LANG: "pl"
          PHONE_HASH_PEPPER: ""
          USER_HASH_PEPPER: ""
          OTP_HASH_PEPPER: ""
        run: |
          pytest -m "unit or component or security" -q --cov=src --cov-report=term-missing --cov-report=html
